html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
}

div {
  position: relative;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

#root {
  height: 100%;
}
